 header{
    max-width: 630px;
    margin: 0 auto;
    text-align: left;
    margin-top:100px;
   }
   
   .title{
        font-size: 45px;
        font-weight: bold;
        color: black;
        margin-bottom: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    }
    .links {
        gap: 15px;      
        margin-top: 20px;
    max-width: 630px;
    margin: 0 auto;
    display: flex;
    text-align: left;
    margin-top: 20px;

    }
    .uni{
        
        font-size: 15px;
        color: #666;
        margin-top: 0px;
            max-width: 630px;
    margin: 0 auto;
    text-align: left;
    }
    a {
        display: inline-block;
        text-decoration: none;
        color: #333;
        transition: color 0.3s ease;
    }
    a:hover{
        transform: scale(1.2);
        color:black;
        text-decoration: underline;
    }
    hr {
        border: none;
        border-top: 1px solid #ccc;
        margin: 20px auto;
        max-width: 630px;
        margin-top: 55px;
    }